* {
    box-sizing: border-box;
    font-family: system-ui, sans-serif;
}

body {
    background: #111;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.machine {
    width: 300px;
    border: 10px outset #444;
    padding: 16px;
    border-radius: 12px;
    background: #2c2c2c;
    user-select: none;
}

/* ===== SCORE PANEL ===== */
.score-panel {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.score {
    width: 48%;
    padding: 8px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    text-align: center;
    border-radius: 8px;
    font-weight: bold;
    background: rgb(3, 49, 49);
    border: 5px inset #444;
}

/* Color states */
.positive {
    color: #4caf50;
}

.negative {
    color: #f44336;
}

/* ===== SLOTS ===== */
.slots {
    width: inherit - 16;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 12px;
    margin: 16px 0;
    padding: 0 20px;
}

.slot {
    width: 60px;
    height: 60px;
    background: rgb(3, 49, 49);
    border: 5px inset #555;
    border-radius: 10px;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-family: 'Courier New', Courier, monospace;
}

/* ===== CONTROLS ===== */
.controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.btn {
    width: 48%;
    width: 80px;
    height: 80px;
    padding: 12px;
    border: 5px outset;
    border-radius: 999px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    color: #fafafa;
    border-collapse: collapse;
}

.spin {
    background: #2f7931;
    border-color: #1e491f;
    box-shadow: 0 9px #1e491f;
}

.end {
    background: #b92a20;
    border-color: #69130c;
    box-shadow: 0 9px #69130c;
}

.btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    transform: translateY(4px);
}

.spin:disabled {
    box-shadow: 0 5px #1e491f;
}

.end:disabled {
    box-shadow: 0 5px #69130c;
}

.slot {
    transition: transform 0.15s ease, box-shadow 0.15s ease;
}

.slot.stop {
    transform: scale(1.05);
    box-shadow: 0 0 12px rgba(255, 255, 255, 0.6);
}